.form {
    width: 43.75rem;
    background-color: hsl(195.1, 100%, 50%);
    background-image: radial-gradient(closest-side, transparent 98%, hsl(120, 100%, 19.6%, .3) 99%),
        radial-gradient(closest-side, transparent 98%, hsl(120, 100%, 19.6%, .3) 99%);
    background-size: 5rem 5rem;
    background-position: 0 0,
        2.5rem 2.5rem;
}