.SpinnerOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(192.2, 68.4%, 41%);
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
}

.SpinnerContainer {
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  border: 3px solid hsl(191.3, 78%, 67.8%, 0.6);
  border-radius: 50%;
  border-top-color: hsl(191.3, 78%, 67.8%);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}